# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import gmaps.datasets
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
df=pd.read_csv('output_data\\cities.csv')
df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Punta Arenas,-53.15,-70.92,46.40,93,84,2.24,CL,1604232898
1,Pevek,69.70,170.31,13.86,90,73,15.59,RU,1604232906
2,Qaanaaq,77.48,-69.36,1.72,77,0,6.76,GL,1604232907
3,Atuona,-9.80,-139.03,77.27,78,4,14.36,PF,1604232908
4,Rikitea,-23.12,-134.97,74.95,78,6,8.16,PF,1604232908
5,Snezhnogorsk,69.19,33.25,32.00,98,75,2.24,RU,1604232909
6,Jamestown,42.10,-79.24,46.00,75,90,8.05,US,1604232909
7,Saint Anthony,45.02,-93.22,28.00,63,20,17.22,US,1604232910
8,Bluff,-46.60,168.33,48.99,73,79,15.01,NZ,1604232910
9,Grafton,42.21,-71.69,37.40,86,40,10.29,US,1604232910
10,Malmo,55.61,13.00,55.99,87,75,10.29,SE,1604232910
11,Iqaluit,63.75,-68.51,8.60,84,20,3.36,CA,1604232911
12,Malabo,3.75,8.78,84.20,79,75,3.36,GQ,1604232668
13,Tessalit,20.20,1.01,92.19,11,87,12.39,ML,1604232911
14,Butaritari,3.07,172.79,82.56,74,52,13.29,KI,1604232911
15,Hong Kong,22.29,114.16,75.99,68,41,1.01,HK,1604232881
16,Ushuaia,-54.80,-68.30,46.40,81,40,5.14,AR,1604232685
17,Ponta do Sol,32.67,-17.10,75.99,78,20,5.82,PT,1604232912
18,Yellowknife,62.46,-114.35,21.20,92,90,10.29,CA,1604232912
19,Thompson,55.74,-97.86,-0.40,84,20,4.70,CA,1604232757
20,Hilo,19.73,-155.09,73.40,83,1,1.63,US,1604232840
21,Henties Bay,-22.12,14.28,57.99,83,28,10.71,NaN,1604232913
22,Cape Town,-33.93,18.42,80.60,32,0,12.75,ZA,1604232913
23,Dakar,14.69,-17.44,84.20,79,0,6.93,SN,1604232901
24,Bethel,41.37,-73.41,39.99,93,90,4.74,US,1604232914
25,Saint George,37.10,-113.58,46.40,24,1,3.62,US,1604232804
26,Boksitogorsk,59.47,33.85,38.55,79,0,4.65,RU,1604232914
27,Vaini,-21.20,-175.20,75.20,83,75,10.29,TO,1604232915
28,Flinders,-34.58,150.86,62.01,79,35,4.00,AU,1604232915
29,Albany,42.60,-73.97,39.00,82,41,6.96,US,1604232916
30,Castro,-24.79,-50.01,59.99,72,69,8.08,BR,1604232916
31,Airai,-8.93,125.41,63.55,100,89,2.42,TL,1604232917
32,Port Alfred,-33.59,26.89,68.56,72,39,24.47,ZA,1604232917
33,Umeå,63.83,20.26,48.20,93,90,21.92,SE,1604232917
34,Sambava,-14.27,50.17,77.16,64,47,15.26,MG,1604232917
35,Mar del Plata,-38.00,-57.56,61.00,64,0,3.65,AR,1604232735

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [14]:
gmaps.configure(g_key)

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure